# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\temp\react-test\react-login\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
